# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/

# Rutgers material classification
/danesfield/materials/pixel_prediction/architecture/RN18_All.pth.tar
