# Template based on:
# https://github.com/pubgeo/core3d-metrics/blob/a586a44/aoi-example/aoi-example.config
#
# Modifications:
# - CLSMatchValue

[INPUT.REF]
DSMFilename   = $ref_prefix-DSM.tif
DTMFilename   = $ref_prefix-DTM.tif
CLSFilename   = $ref_prefix-CLS.tif
NDXFilename   = $ref_prefix-NDX.tif
MTLFilename   = $ref_prefix-MTL.tif
#CLSMatchValue  = [[6],[17],[6,17],[256]]
CLSMatchValue  = 6

[INPUT.TEST]
DSMFilename   = $test_dsm
CLSFilename   = $test_cls
MTLFilename   = $test_mtl
DTMFilename   = $test_dtm

[OPTIONS]
QuantizeHeight  = false

[PLOTS]
ShowPlots       = false
SavePlots       = true

[MATERIALS.REF]
MaterialIndices = 0,1,2,3,4,5,6,7,8,9,10,11,12,13
MaterialNames = Unclassified,Asphalt,Concrete/Stone,Glass,Tree,Non-tree vegetation,Metal,Ceramic,Soil,Solar panel,Water,Polymer,Unscored,Indeterminate
MaterialIndicesToIgnore = 0,12,13
